@page "/configuration"
@using System.Diagnostics;
@using ApplicationCore.Features.Shared.Components;
@using static ApplicationCore.Features.Shared.Components.Button;

<TabControl>

    <TabPage Title="Data">
        <ApplicationCore.Features.Configuration.ConfigurationEditor />
    </TabPage>
    <TabPage Title="CNC Tools">
        <ApplicationCore.Features.Tools.ToolFileEditor />
    </TabPage>
    <TabPage Title="Other">
        <div>
            <Button Style="ButtonStyle.Text" OnClick="OpenConfigurationFile" Color="ButtonColor.Secondary" Size="ButtonSize.XSmall">Open Config File</Button>
        </div>
    </TabPage>

</TabControl>

<hr class="my-5" />

@code {

    private void OpenConfigurationFile() {

        try {
            
            ProcessStartInfo psi = new ProcessStartInfo();
            psi.FileName = "appsettings.json";
            psi.UseShellExecute = true;
            Process.Start(psi);

        } catch (Exception ex) {
            Debug.WriteLine(ex);
        }

    }

}
