@page "/configuration"
@using System.Diagnostics;
@using ApplicationCore.Features.Orders.OrderLoading.Providers.AllmoxyXMLModels;
@using ApplicationCore.Features.Shared.Components;
@using Microsoft.Extensions.Options;
@using static ApplicationCore.Features.Shared.Components.Button;

<TabControl>

    <TabPage Title="Data">
        <ApplicationCore.Features.Configuration.DataFilePathsEditor />
    </TabPage>
    <TabPage Title="CNC Tools">
        <ApplicationCore.Features.CNC.Tools.ToolFileEditor />
    </TabPage>
    <TabPage Title="App Settings">
        <div>
            <Button Style="ButtonStyle.Link" OnClick="OpenAppSettingsFile" Color="ButtonColor.Secondary" Size="ButtonSize.XSmall">Open App Settings File</Button>
        </div>
    </TabPage>

</TabControl>

<hr class="my-5" />

@code {

    private void OpenAppSettingsFile() {
        OpenFile("appsettings.json");
    }

    private void OpenFile(string filePath) {
        try {

            ProcessStartInfo psi = new ProcessStartInfo();
            psi.FileName = filePath;
            psi.UseShellExecute = true;
            Process.Start(psi);

        } catch (Exception ex) {
            Debug.WriteLine(ex);    
        }

    }

}
