@page "/orders/list"
@using ApplicationCore.Features.Orders.List

<h1 class="text-3xl mb-2 dark:text-white">Orders</h1>

<section>
    <h2 class="text-lg  mb-2 dark:text-gray-300">All orders</h2>
    <OrderList />
</section>

@code {

}
