@using ApplicationCore.Features.CustomizationScripts.ViewModels;
@using Domain.Components
@using static Domain.Components.Button;
@inject AddNewScriptViewModel DataContext;

@if (DataContext.IsFileBeingPicked) {

    <p>Select File...</p>
    
} else {
    
    <div>

        @if (DataContext.Error is not null) {
            <p class="text-red-600 mb-3">DataContext.Editor</p>
        }

        <div>
            <label>Script name</label>
            <input type="text" class="input-text w-full" @bind="DataContext.ScriptName" />
        </div>

        <div class="mt-3">
            <label>File Path</label>
            <a @onclick="DataContext.OpenScriptFile">@DataContext.FilePath</a>
            <Button Size="ButtonSize.Small" Disabled="DataContext.IsFileBeingPicked" OnClick="DataContext.PickFile">Choose File</Button>
        </div>

        <div class="mt-3">
            <Button OnClickAsync="DataContext.AddScript">Create</Button>
            <Button OnClickAsync="ModalInstance.CancelAsync">Cancel</Button>
        </div>

    </div>


}

@code {

    [CascadingParameter]
    public BlazoredModalInstance? ModalInstance { get; set; }

    [Parameter]
    public Guid OrderId { get; set; }

    protected override async Task OnInitializedAsync() {

        DataContext.CloseView += ModalInstance.CloseAsync;
        DataContext.OnPropertyChanged += StateHasChanged;

        await DataContext.Loaded(OrderId);

        DataContext.PickFile();

    }

}
