@using ApplicationCore.Shared.Components
@using ApplicationCore.Shared.Services;
@using static ApplicationCore.Shared.Components.Button;

<div>
    <label>Design ID</label>
    <input type="number" class="input-text" min="0" @bind-value="DesignId" />
</div>

<div class="mt-12">
    <Button Style="ButtonStyle.Text" Color="ButtonColor.Success" OnClickAsync="ReturnValue" Class="mt-3 float-right mr-3" disabled="@string.IsNullOrEmpty(DesignId)">Enter</Button>
    <Button Style="ButtonStyle.Text" Color="ButtonColor.Secondary" OnClickAsync="Cancel" Class="mt-3 float-right">Cancel</Button>
</div>

@code {

    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public string DesignId { get; set; }

    public async Task ReturnValue() {
        await BlazoredModal.CloseAsync(ModalResult.Ok(DesignId));
    }

    public async Task Cancel() {
        await BlazoredModal.CancelAsync();
    }

}
