@page "/closetpro"
@using ApplicationCore.Features.AllmoxyOrderExport
@using ApplicationCore.Features.ClosetProCSVCutList
@using ApplicationCore.Features.ClosetProToAllmoxyOrder
@using ApplicationCore.Shared.Components
@using ApplicationCore.Shared.Services
@using ApplicationCore.Features.ClosetProToAllmoxyOrder.Models;
@using ApplicationCore.Features.ClosetProToAllmoxyOrder.Views;
@using static ApplicationCore.Shared.Components.Button;
@inject IFilePicker FilePicker
@inject ClosetProCSVReader Reader
@inject ClosetProPartMapper CPPartMapper
@inject ClosetProToAllmoxyMapper CPToAllmoxyMapper
<h3>Closet Pro Order Setup</h3>

<br/>

<MappingSettingsForm Settings="_settings" />

<br/>

<Button Color="ButtonColor.Primary" OnClick="PickFile" Disabled="_isLoading">Pick File</Button>

<br/>

@if (_isLoading) {
    <span>Loading...</span>
}

@if (_isComplete) {
    <span>Order Mapping Complete</span>
}

<br/>

<span>@_error</span>
