@using Domain.Components
@if (DataContext is null) {

    <p>Error Loading Drawing Manager</p>
    
} else if (DataContext.IsLoading) {

    <div class="text-center mb-4 font-bold text-blue-700">Loading...</div>
    <svg class="animate-spin mx-auto h-12 w-12 text-blue-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-10" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>

} else {

    @if (DataContext.Error is not null) {
        <div class="text-red-600">
            <h3>@DataContext.Error.Title</h3>
            <p>@DataContext.Error.Details</p>
        </div>
    }
    
    <table class="table-auto w-full">
    
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
    
        @if (DataContext.DrawingRows.Any()) {
    
            <tbody>
                @foreach (var row in DataContext.DrawingRows) {
                    <ProductDrawingRow Row="row" OnRowDeleted="DataContext.RemoveDrawing" />
                }
            </tbody>
    
        } else {
            
            <tbody>
                <tr>
                    <td colspan="2" class="text-center">No Drawings Attached</td>
                </tr>
            </tbody>
    
        }
    
    </table>
    
    <Button OnClickAsync="DataContext.AddActiveDrawing" Class="mt-5">Add Active</Button>
    
}

