@page "/customers/{customerId:guid}"
@using ApplicationCore.Features.Companies.Customers.Edit
@using ApplicationCore.Features.Orders.CustomerOrderNumber
@using ApplicationCore.Widgets.Companies.AllmoxyId
@using ApplicationCore.Widgets.Orders.OrderList

<h1 class="font-bold text-lg">Customer Details</h1>

<div class="grid grid-cols-1 gap-5">
    <section>
        <EditCustomer CustomerId="CustomerId" />
    </section>
    <hr />
    <section>
        <CustomerOrderNumberWidget CustomerId="CustomerId" />
    </section>
    <hr />
    <section>
        <CustomerAllmoxyIdWidget CustomerId="CustomerId"/>
    </section>
    <hr />
    <section>
        <h2 class="font-bold text-md">Orders</h2>
        <OrderListWidget CustomerId="CustomerId" />
    </section>
</div>

@code {

    [Parameter]
    public Guid CustomerId { get; set; }

}
