@page "/customers/{customerId:guid}"
@using ApplicationCore.Features.Companies.Customers.Edit
@using ApplicationCore.Features.Orders.List

<h1 class="font-bold text-lg">Customer Details</h1>

<div class="grid grid-cols-1 gap-5">
    <div>
        <EditCustomer CustomerId="CustomerId" />
    </div>
    <div>
        <h2 class="font-bold text-md">Orders</h2>
        <OrderList CustomerId="CustomerId" />
    </div>
</div>

@code {

    [Parameter]
    public Guid CustomerId { get; set; }

}
