@using ApplicationCore.Features.Shared.Components
@using static ApplicationCore.Features.Shared.Components.Button;
@inject BarCodeScanningDialogViewModel DataContext;

<div>
    <label class="block text-sm font-medium text-gray-700">Bar Code</label>
    <input type="text" class="mt-1 w-full" @bind-value="@DataContext.Code" />
</div>

@if (DataContext.Error is not null) {
    <span class="text-red-600">@DataContext.Error</span>
}

@if (DataContext.Message is not null) {
    <span class="text-blue-600">@DataContext.Message</span>
}

<div class="mt-12">
    <Button Style="ButtonStyle.Text" Color="ButtonColor.Success" OnClickAsync="@DataContext.SubmitScannedBarcode" Class="mt-3 float-right mr-3">Enter</Button>
</div>

@code {

    protected override void OnInitialized() {
        DataContext.OnPropertyChanged += () => InvokeAsync(StateHasChanged);
    }

}