@using ApplicationCore.Shared.Components
@using ApplicationCore.Shared.Settings;
@using static ApplicationCore.Shared.Components.Button;

@if (_settings is null) {
    
    <div>
        <h3>Error</h3>
        <span>Settings could not be loaded</span>
    </div>

} else {

    <EditForm Model="_settings" OnValidSubmit="SaveChanges">

        <div>
            <label>Workbook File Path</label>
            <InputText @bind-Value="_settings.ScheduleWorkbookPath" class="input-text w-full" />
        </div>

        <div class="my-5">
            <Button type="submit" Color="ButtonColor.Primary">Save</Button>
        </div>

    </EditForm>

}

@code {

    private ScheduleSettings? _settings = null;

    [Inject]
    public IWritableOptions<ScheduleSettings>? Options { get; set; }

    protected override void OnInitialized() {

        if (Options is null) return;

        _settings = Options.Value;

    }

    private void SaveChanges() {

        if (Options is null || _settings is null) return;

        Options.Update(settings => {
            settings.ScheduleWorkbookPath = _settings.ScheduleWorkbookPath;
        });

    }


}
