@page "/orders/details/{OrderIdStr}"
@using ApplicationCore.Features.BricsCAD
@using ApplicationCore.Features.Orders.Details
@using ApplicationCore.Features.Orders.Shared.Domain.Entities;
@using ApplicationCore.Features.Orders.Shared.Domain.Products.Closets;
@using ApplicationCore.Features.Orders.Shared.State;
@using ApplicationCore.Features.Products.ProductDrawings.Views
@using ApplicationCore.Features.Schedule
@using ApplicationCore.Shared.Components
@using ApplicationCore.Shared.Services;
@using ApplicationCore.Widgets.Orders.OrderDelete
@using ApplicationCore.Widgets.Orders.OrderExport
@using ApplicationCore.Widgets.Orders.OrderRelationshipList
@using ApplicationCore.Widgets.Orders.OrderRelease
@using ApplicationCore.Features.Products.UpdateClosetPart;
@inject NavigationService Nav

@if (OrderId == Guid.Empty) {

    <p>No Order To Display</p>
    
} else {
    
    <div class="grid grid-cols-1">
    
        <section id="orderDetails">
            <OrderDetails OrderId="OrderId" @ref="_detailsRef">
                <ActionPanel Context="order">
                    <div class="flex flex-col space-y-3 items-center text-center">
                        <OrderExportWidget Order="order" />
                        <OrderReleaseWidget Orders="GetOrder(order)" />
                        <OrderDeleteWidget OrderId="order.Id" OnOrderDeleted="OnOrderDeleted" />
                        <BricsCADFileSaveWidget OutputDirectory="@order.WorkingDirectory"/>
                        <AddToScheduleButton Order="order" />
                    </div>
                </ActionPanel>
                <ProductActionsColumn Context="product">
                    <div class="flex flex-row">
                        <ProductDrawingManagerButton ProductId="@product.Id" />
                        @if (product is ClosetPart closetPart) {
                            <Button OnClickAsync="() => OpenPartEditor(closetPart)" class="ml-5">Edit</Button>
                        }
                    </div>
                </ProductActionsColumn>
            </OrderDetails>
        </section>
    
        <section class="mt-16">
            <OrderRelationshipListWidget OrderId="OrderId"/>
        </section>
    
    </div>
}

@code {

    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    private OrderDetails? _detailsRef;

    [Parameter]
    public string OrderIdStr { get; set; } = string.Empty;

    public Guid OrderId { get; set; }

    public static List<Order> GetOrder(Order order) => new() { order };

    protected override void OnParametersSet() {
        if (Guid.TryParse(OrderIdStr, out Guid orderId)) {
            OrderId = orderId;            
        }
    }

    public void OnOrderDeleted() {
        Nav.NavigateToOrderListPage();
    }

    public async Task OpenPartEditor(IClosetPartProduct part) {

        if (part is ClosetPart closetPart) {

            var parameters = new ModalParameters() {
                { "Product", closetPart }
            };

            _ = await Modal.Show<ClosetPartEditor>("Edit Closet Part", parameters).Result;

            // TODO: Do this better
            _detailsRef?.OnProductsChanged();

        }

    }

}
