@page "/orders/details"
@using ApplicationCore.Features.Orders.Details
@using ApplicationCore.Features.Orders.Shared.State;
@using ApplicationCore.Features.WorkOrders;
@inject OrderDetailsPageViewModel DataContext
@inject OrderState OrderState

<div>

    <section id="orderDetails">
        <OrderDetails ViewModel="DataContext" />
    </section>

    <section id="workOrders" class="mt-12">
        <OrderTaskList OrderId="@OrderState.Order?.Id" @ref="DataContext.OrderTaskList" />
    </section>

</div>


@code {

    protected override void OnInitialized() {
        
        DataContext.OnPropertyChanged += () => StateHasChanged();

    }

}
