@using Domain.Infrastructure.Bus
@using ApplicationCore.Shared.Settings
@using Domain.Services
@using Microsoft.Extensions.Logging
@using Domain.Infrastructure.Settings;
@using Domain.Components
@using static Domain.Components.Button;

@if (_error is not null) {

    <div class="text-red-600">
        <h3>@_error.Title</h3>
        <span>@_error.Details</span>
    </div>

} else if (_settings is not null) {

    <EditForm Model="_settings" OnValidSubmit="SaveChanges">

        <div>
            <label>Sender Name</label>
            <InputText @bind-Value="_settings.SenderName" class="input-text w-full" />
        </div>

        <div>
            <label>Sender Email</label>
            <InputText @bind-Value="_settings.SenderEmail" class="input-text w-full" />
        </div>

        <div>
            <label>Password</label>
            <InputText @bind-Value="_settings.ClearTextPassword" class="input-text w-full" type="password" />
        </div>

        <hr class="my-5"/>

        <div>
            <label>Host</label>
            <InputText @bind-Value="_settings.Host" class="input-text w-full" />
        </div>

        <div>
            <label>Port</label>
            <InputNumber @bind-Value="_settings.Port" class="input-text w-full" step="1" />
        </div>

        <hr class="my-5"/>

        <div>
            <label>
                Bcc Recipients
                <p><small>A blind carbon copy will be sent for each recipient for every email sent. Separate multiple recipients with a semicolon</small></p>
                <InputText @bind-Value="_settings.BccRecipients" class="input-text w-full" />
            </label>
        </div>

        <div class="my-5">
            <Button type="submit" Color="ButtonColor.Primary">Save</Button>
        </div>

    </EditForm>

    @if (_message is not null) {
        <span>@_message</span>
    }

}

@code {

    private Error? _error = null;

    private EmailSettingsEditModel? _settings = null;

    private string? _message = null;

    [Inject]
    public IWritableOptions<EmailSettings>? Options { get; set; }

    [Inject]
    public ILogger<EmailSettingsEditor>? Logger { get; set; }

    protected override void OnInitialized() {

        if (Options is null) return;

        try {
            _settings = new(Options.Value);
        } catch (Exception ex) {
            Logger?.LogError(ex, "Exception thrown while trying to load email settings.");
        }

        if (_settings is null) {

            _error = new() {
                Title = "Error",
                Details = "Settings could not be loaded"
            };

        } else {
            _error = null;
        }

    }

    private void SaveChanges() {

        if (Options is null || _settings is null) return;

        try {

            _message = null;

            Options.Update(settings => {
                var update = _settings.ToEmailSettings();
                settings.Port = update.Port;
                settings.Host = update.Host;
                settings.SenderName = update.SenderName;
                settings.SenderEmail = update.SenderEmail;
                settings.ProtectedPassword = update.ProtectedPassword;
                settings.BccRecipients = update.BccRecipients;
            });

            _error = null;
            _message = "Settings will be applied next time application is reset.";

        } catch (Exception ex) {

            Logger?.LogError(ex, "Exception thrown while trying to save email settings.");

            _error = new() {
                Title = "Error",
                Details = "Changes could not be saved"
            };

        }

    }

    class EmailSettingsEditModel {

        public string SenderName { get; set; } = string.Empty;
        public string SenderEmail { get; set; } = string.Empty;
        public string ClearTextPassword { get; set; } = "";
        public string Host { get; set; } = string.Empty;
        public int Port { get; set; }
        public string BccRecipients { get; set; } = string.Empty;

        public string ProtectedPassword => UserDataProtection.Protect(ClearTextPassword);

        public EmailSettingsEditModel(EmailSettings settings) {
            SenderName = settings.SenderName;
            SenderEmail = settings.SenderEmail;
            Host = settings.Host;
            Port = settings.Port;
            BccRecipients = settings.BccRecipients;
            ClearTextPassword = UserDataProtection.Unprotect(settings.ProtectedPassword);
        }

        public EmailSettings ToEmailSettings() {
            return new() {
                SenderName = SenderName,
                SenderEmail = SenderEmail,
                Host = Host,
                Port = Port,
                BccRecipients = BccRecipients,
                ProtectedPassword = ProtectedPassword
            };
        }

    }

}
