@using Domain.Infrastructure.Bus
@using Domain.Components
@using ApplicationCore.Shared.Settings;
@using Microsoft.Extensions.Logging;
@using Domain.Infrastructure.Settings;
@using static Domain.Components.Button;

@if (_error is not null) {
    
    <div class="text-red-600">
        <h3>@_error.Title</h3>
        <span>@_error.Details</span>
    </div>

} else if (_settings is not null) {

    <EditForm Model="_settings" OnValidSubmit="SaveChanges">

        <div>
            <label>Workbook File Path</label>
            <InputText @bind-Value="_settings.ScheduleWorkbookPath" class="input-text w-full" />
        </div>

        <div class="my-5">
            <Button type="submit" Color="ButtonColor.Primary">Save</Button>
        </div>

    </EditForm>

}

@code {

    private Error? _error { get; set; }

    private ScheduleSettings? _settings = null;

    [Inject]
    public IWritableOptions<ScheduleSettings>? Options { get; set; }

    [Inject]
    public ILogger<ScheduleSettingsEditor>? Logger { get; set; }

    protected override void OnInitialized() {

        if (Options is null) return;

        try{
            _settings = Options.Value;
        } catch (Exception ex) {
            Logger?.LogError(ex, "Exception thrown while trying to load schedule settings");
        }

        if (_settings is null) {

            _error = new() {
                Title = "Error",
                Details = "Settings could not be loaded"
            };

        }

    }

    private void SaveChanges() {

        if (Options is null || _settings is null) return;

        try {

            Options.Update(settings => {
                settings.ScheduleWorkbookPath = _settings.ScheduleWorkbookPath;
            });

        } catch (Exception ex) {

            Logger?.LogError(ex, "Exception thrown while trying to save schedule settings");

            _error = new() {
                Title = "Error",
                Details = "Changes could not be saved"
            };

            StateHasChanged();

        }

    }


}
