<input type="checkbox" checked="@IsChecked" @oninput="OnIsCheckedChanged" id="@Id" />
<label for="@Id">@ChildContent</label>

@code {

    [Parameter]
    public RenderFragment? ChildContent {get; set;}

    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public EventCallback<bool> IsCheckedChanged { get; set; }

    private Task OnIsCheckedChanged(ChangeEventArgs e) {
        if (e.Value is not bool newVal) return Task.CompletedTask;
        IsChecked = newVal;
        return IsCheckedChanged.InvokeAsync(IsChecked);
    }

}
