<input type="checkbox" @bind="@IsChecked" id="@Id" />
<label for="@Id">@ChildContent</label>

@code {

    [Parameter]
    public RenderFragment? ChildContent {get; set;}

    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public string Id { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public EventCallback<bool> IsCheckedChanged { get; set; }

}
