<div class="@tooltipClass">
    <span class="@offsetClass">@Text</span>
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public bool UnderLine { get; set; } = true;

    [Parameter]
    public OffsetSide Offset { get; set; } = OffsetSide.Center;

    private string tooltipClass => $"tooltip-wrapper {(UnderLine ? "border-b border-dotted border-black" : "")}";

    private string offsetClass => Offset switch {
        OffsetSide.Left => "left_offset",
        OffsetSide.Right => "right_offset",
        _ => ""
    };

    public enum OffsetSide {
        Center,
        Left,
        Right
    }

}