@using Domain.Companies;
@using ApplicationCore.Features.Orders.OrderExport;
@using Domain.Orders.Entities;
@using Domain.Components
@using static Domain.Components.Button;
@using ApplicationCore.Shared.Services;
@using Microsoft.Extensions.Logging;
@using Domain.Services;
@inject IFilePicker FilePicker
@inject OrderExportModalViewModel DataContext
@inject ILogger<OrderExportModal> Logger

@if (DataContext.IsLoading) {

    <div class="text-center mb-4 font-bold text-blue-700">Loading...</div>
    <svg class="animate-spin mx-auto h-12 w-12 text-blue-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-10" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>

} else {

    <div class="flex flex-col space-y-5">

        @if(_errorMessage is not null) {
            <section>
                <span class="text-red-600">@_errorMessage</span>
            </section>
        }

        <section>
            <CheckBox @bind-IsChecked="DataContext.Configuration.FillDovetailOrder">
                <span class="text-gray-700">Fill Dovetail DB order</span>
            </CheckBox>
            
            <br />
            
            <CheckBox @bind-IsChecked="DataContext.Configuration.FillMDFDoorOrder">
                <span class="text-gray-700">Fill MDF Door order</span>
            </CheckBox>
            
            <br />
            
            @if (DataContext.Configuration.FillDovetailOrder || DataContext.Configuration.FillMDFDoorOrder) {
                <label class="block text-sm font-medium text-gray-700">Output directory</label>
                <input type="text" class="input-text mt-1 w-full" @bind="DataContext.Configuration.OutputDirectory" />
            }
        </section>

        <hr />

        <section>
            <CheckBox @bind-IsChecked="DataContext.Configuration.GenerateEXT">
                <span class="text-gray-700">Generate EXT File</span>
            </CheckBox>
            @if(DataContext.Configuration.GenerateEXT) {
                <div class="ml-3">
                    <label class="ml-2 text-sm">Job Name</label>                
                    <input type="text" class="input-text mt-1 w-full" @bind="DataContext.Configuration.ExtJobName" />
                </div>
            }
        </section>

        <section>
            <CheckBox @bind-IsChecked="DataContext.Configuration.GenerateCSV">
                <span class="text-gray-700">Generate CSV File</span>
            </CheckBox>
            @if(DataContext.Configuration.GenerateCSV) {
                <div class="ml-3">
                    <label class="ml-2 text-sm">Job Name</label>                
                    <input type="text" class="input-text mt-1 w-full" @bind="DataContext.Configuration.CsvJobName" />
                </div>
            }
        </section>

        <section>
            <Button Color="ButtonColor.Primary" Style="ButtonStyle.Text" OnClickAsync="ShowExportProgressModal">Export</Button>
            <Button Color="ButtonColor.Secondary" Style="ButtonStyle.Text" OnClickAsync="Cancel">Cancel</Button>
        </section>

    </div>
}
