@using Domain.Companies;
@using ApplicationCore.Features.Orders.OrderExport;
@using Domain.Orders.Entities;
@using ApplicationCore.Shared.Components
@using static ApplicationCore.Shared.Components.Button;
@using ApplicationCore.Shared.Services;
@using Microsoft.Extensions.Logging;
@inject IFilePicker FilePicker
@inject OrderExportModalViewModel DataContext
@inject ILogger<OrderExportModal> Logger

@if (DataContext.Configuration is null) {
    <span>Loading...</span>    
} else {

    <div class="flex flex-col space-y-5">

        @if(_errorMessage is not null) {
            <section>
                <span class="text-red-600">@_errorMessage</span>
            </section>
        }

        <section>
            <CheckBox @bind-IsChecked="DataContext.Configuration.FillDovetailOrder">
                <span class="text-gray-700">Fill Dovetail DB order</span>
            </CheckBox>
            
            <br />
            
            <CheckBox @bind-IsChecked="DataContext.Configuration.FillMDFDoorOrder">
                <span class="text-gray-700">Fill MDF Door order</span>
            </CheckBox>
            
            <br />
            
            @if (DataContext.Configuration.FillDovetailOrder || DataContext.Configuration.FillMDFDoorOrder) {
                <label class="block text-sm font-medium text-gray-700">Output directory</label>
                <input type="text" class="input-text mt-1 w-full" @bind="DataContext.Configuration.OutputDirectory" />
            }
        </section>

        <hr />

        <section>
            <CheckBox @bind-IsChecked="DataContext.Configuration.GenerateEXT">
                <span class="text-gray-700">Generate EXT File</span>
            </CheckBox>
            @if(DataContext.Configuration.GenerateEXT) {
                <div class="ml-3">
                    <label class="ml-2 text-sm">Job Name</label>                
                    <input type="text" class="input-text mt-1 w-full" @bind="DataContext.Configuration.ExtJobName" />
                </div>
            }
        </section>

        <section>
            <CheckBox @bind-IsChecked="DataContext.Configuration.GenerateCSV">
                <span class="text-gray-700">Generate CSV File</span>
            </CheckBox>
            @if(DataContext.Configuration.GenerateCSV) {
                <div class="ml-3">
                    <label class="ml-2 text-sm">Job Name</label>                
                    <input type="text" class="input-text mt-1 w-full" @bind="DataContext.Configuration.CsvJobName" />
                </div>
            }
        </section>

        <section>
            <Button Color="ButtonColor.Primary" Style="ButtonStyle.Text" OnClickAsync="ShowExportProgressModal">Export</Button>
            <Button Color="ButtonColor.Secondary" Style="ButtonStyle.Text" OnClickAsync="Cancel">Cancel</Button>
        </section>

    </div>
}
