@using ApplicationCore.Features.GeneralReleasePDF
@inherits LayoutComponentBase
@inject InitializationState InitializationState

<div class="m-10">
	<ReleasePDFDialog OutputDirectory="@outputDirectory"/>
</div>

@code {

    private string outputDirectory = "";

    protected override void OnInitialized() {

		if (InitializationState.JolaMode) {

			outputDirectory = Path.Combine(
				Environment.GetFolderPath(Environment.SpecialFolder.Desktop),
				"CUT-LIST"
			);

		}

    }

}
