@using Domain.Components
@using static Domain.Components.Button;

<div>
    <label class="block text-sm font-medium text-gray-700">Order Number</label>
    <input type="text" class="input-text mt-1 w-full" @bind-value="OrderNumber" />
</div>

<div class="mt-12">
    <Button Style="ButtonStyle.Text" Color="ButtonColor.Success" OnClickAsync="ReturnValue" Class="mt-3 float-right mr-3">Enter</Button>
    <Button Style="ButtonStyle.Text" Color="ButtonColor.Secondary" OnClickAsync="Cancel" Class="mt-3 float-right">Cancel</Button>
</div>

@code {

    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; } = default!;

    public string OrderNumber { get; set; } = string.Empty;

    public async Task ReturnValue() {
        await BlazoredModal.CloseAsync(ModalResult.Ok(OrderNumber));
    }

    public async Task Cancel() {
        await BlazoredModal.CancelAsync();
    }

}
