@using Domain.Components
@using static Domain.Components.Button;
@using Domain.Services;
@inject IFilePicker FilePicker

<div>
    <Button OnClick="ChooseFile">Select File</Button>
    @if (string.IsNullOrEmpty(FilePath)) {
        <span>No file chosen...</span>
    } else {
        <span>@FilePath</span>
    }
</div>

<div>
    <div>
        <label>Order Number*</label>
    </div>
    <input type="text" class="input-text w-full" min="0" @bind-value="OrderNumber" />
    <div>
        <label>Company*</label>
    </div>
    <input type="text" class="input-text w-full" min="0" @bind-value="Company" />
</div>

<div class="mt-12">
    <Button Style="ButtonStyle.Text" Color="ButtonColor.Success" OnClickAsync="ReturnValue" Class="mt-3 float-right mr-3" disabled="@string.IsNullOrEmpty(FilePath)">Enter</Button>
    <Button Style="ButtonStyle.Text" Color="ButtonColor.Secondary" OnClickAsync="Cancel" Class="mt-3 float-right">Cancel</Button>
</div>

@code {

    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Inject]
    public HafeleMDFDoorOrderProvider OrderProvider { get; set; } = default!;

    public string FilePath { get; set; } = string.Empty;
    public string OrderNumber { get; set; } = string.Empty;
    public string Company { get; set; } = string.Empty;

    protected override void OnInitialized() {
        ChooseFile();
    }

    public async Task ReturnValue() {
        OrderProvider.Source = new(FilePath, OrderNumber, Company);
        await BlazoredModal.CloseAsync(ModalResult.Ok(OrderProvider));
    }

    public async Task Cancel() {
        await BlazoredModal.CancelAsync();
    }

    public void ChooseFile()
        => FilePicker.PickFile(new() {
                Title = "Select Hafele order file",
                Filter = new("Hafele order file", ".xlsx")
            }, (fileName) => {
            FilePath = fileName;
            InvokeAsync(StateHasChanged);
        });

}
