@using ApplicationCore.Features.ClosetProToAllmoxyOrder.Models

<EditForm Model="@Settings">

    <label class="block">
        <InputCheckbox @bind-Value="Settings.UseDoubleCamShelves" />
        <span>Use Double Cam Shelves</span>
    </label>

    <label class="block">
        <InputCheckbox @bind-Value="Settings.UseSafetyShelves" />
        <span>Use Safety Shelves</span>
    </label>

    <label class="block">
        <InputCheckbox @bind-Value="Settings.DoNotUseWallMount" />
        <span>Don't Use Wall Mount Vertical Panels</span>
    </label>

    <!--
    <label class="block">
        <InputCheckbox @bind-Value="Settings.UseAdvancedVerticalPanels" />
        <span>Use Advanced Vertical Panels</span>
    </label>
    -->

</EditForm>

@code {

    [Parameter] public CPToAllmoxyMappingSettings Settings { get; set; } = new();

}
