@using ApplicationCore.Features.Configuration;
@using ApplicationCore.Shared.Components
@using ApplicationCore.Infrastructure.Bus;
@using static ApplicationCore.Shared.Components.Button;
@inject DataFilePathsEditorViewModel DataContext 

@if (DataContext.ErrorMessage is not null) {
    
    <span>Error</span>
    <span>@DataContext.ErrorMessage</span>

} else if (DataContext.Configuration is null) {

    <span>Loading configuration...</span>
    
} else {
    <EditForm Model="@DataContext.Configuration" OnSubmit="@DataContext.SaveChanges">
    
        <div>
            <label>Ordering Database</label>
            <InputText @bind-Value="DataContext.Configuration.OrderingDBPath" />
        </div>
    
        <div>
            <label>Companies Database</label>
            <InputText @bind-Value="DataContext.Configuration.CompaniesDBPath" />
        </div>

        <div>
            <Button type="submit">Save</Button>
        </div>
    
    </EditForm>
}

<div>
    <Button OnClick="OpenFile" Style="ButtonStyle.Text" Size="ButtonSize.XSmall">Open Data File</Button>
</div>

@code {

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        DataContext.OnPropertyChanged += StateHasChanged;
        await DataContext.LoadConfiguration();
    }

    private void OpenFile() {

        DataContext.OpenFile(); 

    }

}
