@using ApplicationCore.Features.Configuration;
@using ApplicationCore.Shared.Components
@using ApplicationCore.Infrastructure.Bus;
@using static ApplicationCore.Shared.Components.Button;
@inject DataFilePathsEditorViewModel DataContext 

@if (DataContext.ErrorMessage is not null) {
    
    <span>Error</span>
    <span>@DataContext.ErrorMessage</span>

} else if (DataContext.Configuration is null) {

    <span>Loading configuration...</span>
    
} else {
    <EditForm Model="@DataContext.Configuration" OnSubmit="@DataContext.SaveChanges">
    
        <div class="flex flex-row space-x-3 mb-5 items-center">
            <label>Ordering Database</label>
            <InputText @bind-Value="DataContext.Configuration.OrderingDBPath" class="input-text flex-1" />
        </div>
    
        <div class="flex flex-grow space-x-3 mb-5 items-center">
            <label>Companies Database</label>
            <InputText @bind-Value="DataContext.Configuration.CompaniesDBPath" class="input-text flex-1" />
        </div>

        <div>
            <Button type="submit">Save</Button>
        </div>
    
    </EditForm>
}

<div>
    <Button OnClick="OpenFile" Style="ButtonStyle.Text" Size="ButtonSize.XSmall">Open Data File</Button>
</div>

@code {

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        DataContext.OnPropertyChanged += StateHasChanged;
        await DataContext.LoadConfiguration();
    }

    private void OpenFile() {

        DataContext.OpenFile(); 

    }

}
