@using Domain.Components
@using static Domain.Components.Button;

@if (DataContext is null || DataContext.EditModel is null) {
    
    <p>No product to update</p>
    <Button Color="ButtonColor.Secondary" OnClickAsync="Cancel">Close</Button>

} else {

    <EditForm Model="@DataContext.EditModel" >
    
        <div>
            <label class="block">Qty</label>
            <InputNumber @bind-Value="DataContext.EditModel.Qty" TValue="int" class="mt-1 w-24 px-3 py-2 rounded-md max-w-md border focus:outline-0 border-gray-300 focus:border-primary focus:ring-2 focus:ring-primary ease-in-out duration-300" />
        </div>

        <div>
            <label class="block">Unit Price</label>
            <InputNumber @bind-Value="DataContext.EditModel.UnitPrice" TValue="decimal" class="mt-1 w-24 px-3 py-2 rounded-md max-w-md border focus:outline-0 border-gray-300 focus:border-primary focus:ring-2 focus:ring-primary ease-in-out duration-300" />
        </div>
    
        <div>
            <label class="block">Number</label>
            <InputNumber @bind-Value="DataContext.EditModel.ProductNumber" TValue="int" class="mt-1 w-24 px-3 py-2 rounded-md max-w-md border focus:outline-0 border-gray-300 focus:border-primary focus:ring-2 focus:ring-primary ease-in-out duration-300" />
        </div>

        <label class="block">Room</label>
        <InputText @bind-Value="DataContext.EditModel.Room" class="input-text w-full" />
    
        <label class="block">SKU</label>
        <InputText @bind-Value="DataContext.EditModel.SKU" class="input-text w-full" />
    
        <label class="block">Comment</label>
        <InputText @bind-Value="DataContext.EditModel.Comment" class="input-text w-full" />

        <CheckBox @bind-IsChecked="DataContext.EditModel.InstallCams">
            Install Cams
        </CheckBox>
    
        <hr class="my-5" />

        <div>
            <label class="block">Width</label>
            <InputNumber @bind-Value="DataContext.EditModel.Width" TValue="double" class="mt-1 w-24 px-3 py-2 rounded-md max-w-md border focus:outline-0 border-gray-300 focus:border-primary focus:ring-2 focus:ring-primary ease-in-out duration-300" />
        </div>

        <div>
            <label class="block">Length</label>
            <InputNumber @bind-Value="DataContext.EditModel.Length" TValue="double" class="mt-1 w-24 px-3 py-2 rounded-md max-w-md border focus:outline-0 border-gray-300 focus:border-primary focus:ring-2 focus:ring-primary ease-in-out duration-300" />
        </div>

        <hr class="my-5"/>

        <label class="block">Finish</label>
        <InputText @bind-Value="DataContext.EditModel.MaterialFinish" class="input-text w-full" />

        <!-- TODO: add drop down for material core -->
        <label class="block">Core</label>
        <span>@DataContext.EditModel.MaterialCore</span>

        <label class="block">Edge Banding</label>
        <InputText @bind-Value="DataContext.EditModel.EdgeBandingColor" class="input-text w-full" />

        <CheckBox @bind-IsChecked="DataContext.EditModel.IsPainted">
            Painted
        </CheckBox>
        @if (DataContext.EditModel.IsPainted) {
            <label class="block">Color</label>
            <InputText @bind-Value="DataContext.EditModel.PaintedColor" class="input-text w-full" />
            <!-- TODO: add drop down for painted side -->
        }

        <hr class="my-5"/>

        <table>
            <caption>Ask Parameters</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var parameter in DataContext.EditModel.AskParameters) {
                    <tr>
                        <td>
                            <InputText @bind-Value="parameter.Name" class="input-text" />
                        </td>
                        <td>
                            <InputText @bind-Value="parameter.Value" class="input-text" />
                        </td>
                        <td>
                            <Button Color="ButtonColor.Danger" Style="ButtonStyle.Outline" OnClick="() => DataContext.RemoveAskParameter(parameter)">X</Button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <div class="text-center mt-3">
                            <Button Size="ButtonSize.XSmall" Color="ButtonColor.Primary" Style="ButtonStyle.Outline" OnClick="DataContext.AddAskParameter">+ Add Parameter</Button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    
        <div class="mt-10">
            <Button Type="submit" Color="ButtonColor.Primary" OnClickAsync="DataContext.Update" Disabled="@DataContext.IsUpdating">
                <div class="flex justify-center items-center">
                    @if (DataContext.IsUpdating) {
                        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    }
                    Update
                </div>
            </Button>
            <Button Color="ButtonColor.Secondary" OnClickAsync="Cancel">Cancel</Button>
        </div>
    
    </EditForm>

}

