@using System.Diagnostics;
@using ApplicationCore.Features.Orders.Shared.State;
@using ApplicationCore.Infrastructure.Bus;
@inject IBus Bus

@if (_isLoading) {
    
    <div>
        <div class="w-24 h-5 mb-1.5 bg-gray-300 animate-pulse"></div>
        <div class="w-full h-5 bg-gray-300 animate-pulse"></div>
    </div>

} else {

    <div>
        <label for="wd">Working Directory</label>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mb-1 ml-5 inline-block cursor-pointer hover:text-blue-500" @onclick="UpdateWorkingDirectory">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
        <div id="wd" class="w-full underline text-blue-600 hover:text-blue-800 cursor-pointer" @onclick="OpenWorkingDirectory">@_workingDirectory</div>
    </div>

}

