@using OrderLoading.PickOrderSource;
@using Domain.Components
@inject ChooseOrderProviderViewModel DataContext

<div class="grid grid-cols-1 justify-items-center space-y-5">
    @foreach (var sourceConfig in DataContext.SourceConfigs) {
        <Button OnClickAsync="async () => await Modal.CloseAsync(ModalResult.Ok(sourceConfig))">
            <span>@sourceConfig.Name</span>
        </Button>
    }
</div>


@code {

    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;

}
