@page "/allcompanies"
@using Companies.Customers.List
@using Companies.Vendors.List
@using Domain.Components

<div class="flex space-x-5">
    <div class="flex-auto">
        <h2>Customers</h2>
        <CustomerList />
    </div>
    <div class="flex-auto">
        <h2>Vendors</h2>
        <VendorList/>
    </div>
</div>
