@page "/settings"
@using System.Diagnostics
@using ApplicationCore.Features.DataFilePaths
@using OrderLoading.LoadAllmoxyOrderData.AllmoxyXMLModels
@using Domain.Infrastructure.Data
@using ApplicationCore.Features.Settings
@using Microsoft.Extensions.Options;
@using Domain.Components
@using static Domain.Components.Button
@using Domain.Services;

<TabControl>

    <TabPage Title="Data">
        <DataFilePathsEditor />
    </TabPage>
    <TabPage Title="CNC Tools">
        <ToolFileEditor />
    </TabPage>
    <TabPage Title="Export">
        <ExportSettingsEditor />
    </TabPage>
    <TabPage Title="Email">
        <EmailSettingsEditor />
    </TabPage>
    <TabPage Title="MDF Releases">
        <MDFReleaseSettingsEditor />
    </TabPage>
    <TabPage Title="Schedule">
        <ScheduleSettingsEditor />
    </TabPage>
    <TabPage Title="App Settings">
        <div>
            <Button Style="ButtonStyle.Link" OnClick="OpenAppSettingsFile" Color="ButtonColor.Secondary" Size="ButtonSize.XSmall">Open App Settings File</Button>
        </div>
    </TabPage>

</TabControl>

<hr class="my-5" />

@code {

    private string _clearPassword = "";
    private string _protectedPassword = "";

    private void OpenAppSettingsFile() {
        OpenFile("appsettings.json");
    }

    private void OpenFile(string filePath) {
        try {

            ProcessStartInfo psi = new ProcessStartInfo();
            psi.FileName = filePath;
            psi.UseShellExecute = true;
            Process.Start(psi);

        } catch (Exception ex) {
            Debug.WriteLine(ex);    
        }

    }

}
